html{scroll-behavior:smooth}

body {
    background-color: rgb(245, 245, 245);
    color: #000000;
    margin: 0px;
}

.container {
    font-family: Bitter; src: url('Bitter-Regular.ttf');
    max-width: 1000px;
    margin: 0 auto;
}

a {
    color: rgb(0, 106, 117);
    text-decoration: none;
}

.portrait {
    max-width: 50px;
    border-radius: 50%;
}

.inline {
    display: inline-block;
}

.center-vertical {
    vertical-align: middle;
}

#part_pannel {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1%;
    top: 0;
    text-transform: uppercase;
    background-color: rgb(245, 245, 245);
    vertical-align: top;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffe4c4;
    color: #FFFFFF;
    padding: 3rem 20px;
  }

#part_content {
    padding: 2%;
    background-color: rgb(255, 255, 255);
}

ul {
    padding-inline-start: 0px;
}

.section {
    background-color: rgb(245, 245, 245);
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 15px;
}

ul.vertical-list li {
    list-style:none;
    padding-bottom: 8px;
}

ul.horizontal-list li {
    padding-right: 8px;
    display: inline;
    list-style:none;
}
