html{scroll-behavior:smooth}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(30, 32, 33);
        color: rgb(232, 230, 227);
    }

    a {
        color: rgb(0, 115, 128);
    }

    #part_pannel {
        background-color: rgb(30, 32, 33);
    }
    
    #part_content {
        background-color: rgb(24, 26, 27);
    }

    .section {
        background-color: rgb(30, 32, 33);
    }

    .sticky-header {
        background-color: rgb(30, 32, 33);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(245, 245, 245);
        color: #000000;
    }

    a {
        color: rgb(0, 106, 117);
    }

    #part_pannel {
        background-color: rgb(255, 255, 255);
    }
    
    #part_content {
        background-color: rgb(255, 255, 255);
    }

    .section {
        background-color: rgb(245, 245, 245);
    }
    
    .sticky-header {
        background-color: rgb(245, 245, 245);
    }
    
}

body {
    margin: 0px;
}

.container {
    font-family: Bitter; src: url('Bitter-Regular.ttf');
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.portrait {
    max-width: 100px;
    border-radius: 50%;
}

.inline {
    display: inline-block;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.center-vertical h1 {
    margin-left: 30px;
}

#part_pannel {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1%;
    top: 0;
    text-transform: uppercase;
    vertical-align: top;
}

#part_content {
    padding: 2%;
}

.section {
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 15px;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 3rem 20px;
}

ul {
    padding-inline-start: 0px;
}

ul.vertical-list li {
    list-style:none;
    padding-bottom: 8px;
}

ul.horizontal-list li {
    padding-right: 8px;
    display: inline;
    list-style:none;
}
